.feedback{
z-index:900;
	position:absolute;
	left:0;
	bottom:0;
}
.feedback a {
	display:block;
	height:25px;
	width:80px;
	text-align:center;
	background:#333333;
	border:2px solid #fff;
	outline:1px solid #a1a1a1;	
	padding:0px;
	float:left;
	cursor:pointer;
	
	/*Font*/
	color:#FFF;
	font-weight:bold;
	font-size:14px;
}

.feedback .form{
	clear:both;
	height:300px;
	width:450px;
	border:1px solid #000;
	background:#fff;
	padding:15px;
	display: none;
}
.feedback .form textarea{
	height:170px;
	width:400px;
	padding:5px;
}
.feedback .status{
	font-size:16px;
}
